form {
  max-width: 385px;
}

.reservation__form {
  margin: 0 auto;
}

.reservation__input-container {
  max-width: 385px;
}

.reservation__label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: block;
  margin-bottom: 8px;
}

.reservation__label_type_checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
}

.form__item {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 32px;
  height: 60px;
  width: 100%;
}

.form__checkbox {
  width: 20px;
  height: 20px;
  border-radius: 2px;
}

.form__item::placeholder {
  padding-left: 20px;
  line-height: 15px;
}

.reservation__button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  height: 60px;
  width: 100%;
  margin-bottom: 32px;
}

.reservation__button[type="submit"] {
  background-color: #2f80ed;
  color: #ffffff;
}
