.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "inter", arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  background-image: url(file:///C:/Users/Fernando%20Martinez/OneDrive/Desktop/web_project_coffeeshop%20-%20copia/images/background_header.svg);
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 30px 80px 40px;
}

.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  margin-top: 30px;
  margin-left: 30px;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-right: 80px;
  font-family: "Inter,Arial";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  list-style-type: none;
  gap: 20px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
}

.header__title {
  max-width: 709px;
  margin-top: 183px;
  margin-bottom: 0;
  font-family: "Inter,Arial";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.header__span-accent {
  font-family: "Noto Serif,Times New Roman";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
  margin-bottom: 0;
}

.header__description {
  max-width: 683px;
  margin-top: 28px;
  font-family: "Noto Serif,Time New Roman";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
  position: absolute;
}

.header__footer {
  margin-top: auto;

  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
}

.header__paragraph {
  font-family: "Inter,Arial";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin: 0;
}

.recipes {
  background-image: url(file:///C:/Users/Fernando%20Martinez/OneDrive/Desktop/web_project_coffeeshop%20-%20copia/images/background_recipes.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0a2850;
  height: 100vh;
  color: #ffffff;
  padding: 100px 80px 215px;
}

.recipes__title {
  max-width: 580px;
  font-family: "Inter,Arial";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  font-family: "Noto Serif,Times New Roman";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 80px;
}

.recipes__iframe {
  height: 237px;
  width: 480px;
}

.video-caption {
  font-family: "Inter,Arial";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 24px;
}

.reservation {
  background-image: url(file:///C:/Users/Fernando%20Martinez/OneDrive/Desktop/web_project_coffeeshop%20-%20copia/images/background_reservation.svg);
  background-color: #d9e7ff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 100px 0px 120px;
}

.reservation__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
}

form {
  max-width: 385px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 560px;
}

.reservation__input-container {
  max-width: 385px;
}

.reservation__label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: block;
  margin-bottom: 8px;
}

.reservation__label_el-checkbox {
  display: inline;
  justify-content: center;
  align-items: center;
}

.form__item {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 32px;
  height: 60px;
  width: 100%;
}

.form__item[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-left: 70px;
  border-radius: 2px;
}

.form__item::placeholder {
  padding-left: 20px;
  line-height: 15px;
}

.reservation__button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  height: 60px;
  width: 100%;
  margin-bottom: 32px;
}

.reservation__button[type="submit"] {
  background-color: #2f80ed;
  color: #ffffff;
}
